@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<ejs-richtexteditor id="defaultRTE">
    <e-content-template>
        <div>
            <p dir="ltr"
               style="background: white;font-family: 'Times New Roman', 'serif';font-size: 9pt;line-height: 137.9%;margin-bottom: 7pt;margin-left: 0;margin-right: 0;margin-top: 0;text-align: left;text-indent: 0.00in;">
                <span style="background: white;color: #000000;font-family: 'Arial', 'sans-serif';font-size: 9pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;top: 0pt;">
                    6-naparpa
                    (,)
                </span>
            </p>
            <p dir="ltr"
               style="background: white;font-family: 'Times New Roman', 'serif';font-size: 10pt;line-height: 137.9%;margin-bottom: 0;margin-left: 0;margin-right: 0;margin-top: 0;text-align: left;text-indent: 0.00in;">
                <span style="background: white;color: #000000;font-family: 'Arial', 'sans-serif';font-size: 9pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;top: 0pt;">
                    Mojihhbhh
                    KejiHuiyBJiapBauiapTH xap 6Hp Myan
                </span>
                <span style="background: white;color: #000000;font-family: 'Arial', 'sans-serif';font-size: 9pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;top: 0pt;">
                    <sup>A</sup>
                </span>
                <span xml:space="preserve"
                      style="background: white;color: #000000;font-family: 'Arial', 'sans-serif';font-size: 9pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;top: 0pt;">H
        xo </span>
                <span lang="zh-TW" xml:space="preserve"
                      style="background: white;color: #000000;font-family: MingLiU;font-size: 10pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;top: 0pt;">口
      </span>
                <span style="background: white;color: #000000;font-family: 'Arial', 'sans-serif';font-size: 9pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;top: 0pt;">aT</span>
                <span style="background: white;color: #000000;font-family: 'Arial', 'sans-serif';font-size: 9pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;top: 0pt;">
                    <sup>A</sup>
                </span>
                <span style="background: white;color: #000000;font-family: 'Arial', 'sans-serif';font-size: 9pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;top: 0pt;">
                    a
                    ysraua KCJiHuiyBra apHKiHJiMaca, MasKyp KejiHiiiyB H : » &lt;pocH Gunah Gofjihk xapa
                </span>
                <span style="background: white;color: #000000;font-family: 'Arial', 'sans-serif';font-size: 9pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;top: 0pt;">
                    <sup>A</sup>
                </span>
                <span style="background: white;color: #000000;font-family: 'Arial', 'sans-serif';font-size: 9pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;top: 0pt;">
                    aTJiapHH
                    xap 6Hp Hluthpokhh MycTa
                </span>
                <span style="background: white;color: #000000;font-family: 'Arial', 'sans-serif';font-size: 9pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;top: 0pt;">
                    <sup>A</sup>
                </span>
                <span style="background: white;color: #000000;font-family: 'Arial', 'sans-serif';font-size: 9pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;top: 0pt;">
                    HJi
                    paBHuiAa y3H KonjiannH.
                </span>
            </p>
        </div>


        <div>
            <p dir="ltr"
               style="background: white;font-family: 'Times New Roman', 'serif';font-size: 12pt;line-height: 0.1pt;margin-bottom: 0;margin-left: 0;margin-right: 0;margin-top: 0;text-align: left;text-indent: 0.00in;" />
            <p dir="ltr"
               style="background: white;font-family: 'Times New Roman', 'serif';font-size: 14pt;line-height: 108%;margin-bottom: 9pt;margin-left: 0;margin-right: 0;margin-top: 0;text-align: center;text-indent: 0.00in;">
                <span style="background: white;color: #000000;font-family: 'Arial', 'sans-serif';font-size: 11pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;top: 0pt;">
                    This
                    document was created with the Win2PDF "Print to PDF” printer available at
                </span>
                <span style="background: white;color: #000000;font-size: 11pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;top: 0pt;">
                    <br />&#x200e;
                </span>
                <span xml:space="preserve"
                      style="background: white;color: #000000;font-family: 'Arial', 'sans-serif';font-size: 11pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;text-decoration: underline;top: 0pt;">https
      </span>
                <span lang="zh-TW"
                      style="background: white;color: #000000;font-family: MingLiU;font-size: 14pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;text-decoration: underline;top: 0pt;">:〃</span>
                <span style="background: white;color: #000000;font-family: 'Arial', 'sans-serif';font-size: 11pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;text-decoration: underline;top: 0pt;">www.win2pdf.com</span>
            </p>
            <p dir="ltr"
               style="background: white;font-family: 'Times New Roman', 'serif';font-size: 11pt;line-height: 108%;margin-bottom: 0;margin-left: 0;margin-right: 0;margin-top: 0;text-align: center;text-indent: 0.00in;">
                <span style="background: white;color: #000000;font-family: 'Arial', 'sans-serif';font-size: 11pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;top: 0pt;">
                    This
                    version of Win2PDF 10 is for evaluation and non-commercial use only.
                </span>
            </p>



            <p dir="ltr"
               style="background: white;font-family: 'Times New Roman', 'serif';font-size: 14pt;line-height: 108%;margin-bottom: 9pt;margin-left: 0;margin-right: 0;margin-top: 0;text-align: center;text-indent: 0.00in;">
                <span xml:space="preserve"
                      style="background: white;color: #000000;font-family: 'Arial', 'sans-serif';font-size: 11pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;top: 0pt;">Visit
      </span>
                <span style="background: white;color: #000000;font-family: 'Arial', 'sans-serif';font-size: 11pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;text-decoration: underline;top: 0pt;">https</span>
                <span lang="zh-TW"
                      style="background: white;color: #000000;font-family: MingLiU;font-size: 14pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;text-decoration: underline;top: 0pt;">:〃</span>
                <span style="background: white;color: #000000;font-family: 'Arial', 'sans-serif';font-size: 11pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;text-decoration: underline;top: 0pt;">www.win2pdf.com/trial/</span>
                <span xml:space="preserve"
                      style="background: white;color: #000000;font-family: 'Arial', 'sans-serif';font-size: 11pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;top: 0pt;">
        for a 30 day trial license.</span>
            </p>
            <p dir="ltr"
               style="background: white;font-family: 'Times New Roman', 'serif';font-size: 11pt;line-height: 108%;margin-bottom: 9pt;margin-left: 0;margin-right: 0;margin-top: 0;text-align: center;text-indent: 0.00in;">
                <span style="background: white;color: #000000;font-family: 'Arial', 'sans-serif';font-size: 11pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;top: 0pt;">
                    This
                    page will not be added after purchasing Win2PDF.
                </span>
            </p>
            <p dir="ltr"
               style="background: white;font-family: 'Times New Roman', 'serif';font-size: 14pt;line-height: 108%;margin-bottom: 9pt;margin-left: 0;margin-right: 0;margin-top: 0;text-align: center;text-indent: 0.00in;">
                <span style="background: white;color: #000000;font-family: 'Arial', 'sans-serif';font-size: 11pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;text-decoration: underline;top: 0pt;">https</span>
                <span lang="zh-TW"
                      style="background: white;color: #000000;font-family: MingLiU;font-size: 14pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;text-decoration: underline;top: 0pt;">:〃</span>
                <a href="http://www.win2pdf.ccm/pu9hase/">
                    <span style="background: white;color: #000000;font-size: 11pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;top: 0pt;" />
                    <span style="background: white;color: #000000;font-size: 11pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;top: 0pt;" />
                    <span style="background: white;color: #000000;font-family: 'Arial', 'sans-serif';font-size: 11pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;text-decoration: underline;top: 0pt;">www.win2pdf.ccm/pu9hase/</span>
                    <span style="background: white;color: #000000;font-size: 11pt;font-style: normal;font-weight: normal;letter-spacing: 0;margin: 0;padding: 0;position: relative;top: 0pt;" />
                </a>
            </p>
        </div>
    </e-content-template>
</ejs-richtexteditor>